In [7]:
first_name_list = ['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']
print(first_name_list)

['쌍', '쇠', '복', '돌', '팽', '육', '쌍', '개', '칠', '갑', '삼', '방']

In [8]:
second_name_list = ['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']
print(second_name_list)

['봉', '구', '욕', '포', '똥', '삼', '식', '석', '놈', '님', '년', '돌', '단', '득', '방', '질', '장', '걸', '래', '룡', '동', '순', '자', '박', '창', '언', '것', '포', '만', '단', '국']

In [9]:
def get_my_chosun_name(family_name, month, day): 
    first_name = first_name_list[month - 1]
    second_name = second_name_list[day - 1]
    
    full_name = family_name + first_name + second_name
    
    return full_name

In [10]:
# 사용자 입력을 받아 나의 조선시대 이름 출력
family_name = input("가족 이름을 입력하세요: ")
month = int(input("태어난 달을 입력하세요: "))
day = int(input("태어난 날짜를 입력하세요: "))
chosun_name = get_my_chosun_name(family_name, month, day)
print("당신의 조선시대 이름은", chosun_name, "입니다.")

가족 이름을 입력하세요: dl
태어난 달을 입력하세요: 10
태어난 날짜를 입력하세요: 22
당신의 조선시대 이름은 dl갑순 입니다.